[Desktop Entry]
Name=uwucord
Comment=User-first chat platform. 
Exec=uwucord-desktop
Terminal=false
Type=Application
Icon=uwucord-desktop
Categories=Network;InstantMessaging
StartupWMClass=uwucordDesktop 